/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require angular-notify
 *= require_tree .
 *= require_self
 */

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700&subset=cyrillic,latin")

html
   height: 100%

body
  font-family: 'Open Sans', sans-serif
  min-height: 100%
  min-width: 1110px
  position: relative
 
*
  box-sizing: border-box
  outline: none !important

.ng-cloak
  display: none !important
  
.pull-right
  float: right !important

.pull-left
  float: left !important

.clearfix:after
  visibility: hidden
  display: block
  font-size: 0
  content: " "
  clear: both
  height: 0

h3
  font-weight: 700
  color: #333
  font-size: 16px
  text-decoration: none
  text-transform: uppercase
  letter-spacing: 1px
  margin: 10px 0 20px 0

h2
  margin-top: 5px

a
  color: rgb(3, 169, 244)
    
.checkbox
  cursor: pointer
  display: inline-block
  color: gray
  
input[type="checkbox"]
  display: none

input[type="checkbox"]:checked ~ .checker:before
  content: "\e622"
  font-size: 18px
  position: relative
  top: -5px
  left: 1px
  z-index: 2

.checker
  margin: -1px 7px 0 0
  width: 16px
  height: 16px
  color: #76787E
  text-align: center
  border: 1px solid #ccc
  border-radius: 2px
  display: inline-block !important
  vertical-align: middle
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

input[type="text"]
input[type="email"]
input[type="password"]
input[type="number"]
  height: 30px
  padding-left: 8px
  border: 1px solid #CCCCCC
  border-radius: 2px
  font-size: 13px
  
  &.autosize {
    min-width: 82.5px;
  }
  
  &:focus
    border-color: #d0ba65;
    -webkit-box-shadow: 0 0 10px #fc0;
    box-shadow: 0 0 10px #fc0;

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.btn
  height: 38px
  line-height: 37px
  padding: 0 20px
  text-align: center
  border-radius: 3px
  border: none
  cursor: pointer
  white-space: nowrap
  display: inline-block
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  text-decoration: none

  &:disabled
    opacity: .7
    cursor: default

  btn($color)
    background: $color
    color: #2B2B2B

    &:not(:disabled):hover
      background: lighten($color, 15%)

    &:not(:disabled):active
      -moz-box-shadow: inset 0 1px 3px -1px rgba(0, 0, 0, 0.5)
      -webkit-box-shadow: inset 0 1px 3px -1px rgba(0, 0, 0, 0.5)
      box-shadow: inset 0 1px 3px -1px rgba(0, 0, 0, 0.5)

  &-default
    btn(#E0E0E0)

  &-primary
    btn(#03a9f4)
    color: white

  &-success
    btn(#4CAF50)
    color: white

  &-danger
    btn(#F44336)
    color: white

.sep
  display: inline-block
  height: 30px
  width: 25px
  line-height: 16px
  font-weight: lighter
  font-size: 24px
  text-align: center
  vertical-align: bottom
  
label.label
  margin-bottom: 3px
  display: inline-block
  color: #808080
  
.row
  margin-bottom: 20px
  
.input
  input
    width: 100%
    
.table
  width: 100%
  text-align: left
  
  th, td
    padding: 8px 15px

  thead
    background: #ECEFF1
    
  tfoot
    border-top: 1px solid #eceff1
    
    td
      padding-top: 20px
  
.w0
  width: 1px
  white-space: nowrap
  
.align-right
  text-align: right
  
.modal
  position: absolute
  z-index: 1000
  top: 100px
  left: 50%
  background: white
  padding: 15px
  box-shadow: 1px 1px 4px rgba(0,0,0,.2)
  
  &__close
    font-size: 32px
    font-weight: lighter
    position: absolute
    right: 10px
    top: 0px
    cursor: pointer
    
    &:hover
      color: red

.blur
  filter: blur(3px)
  -webkit-filter: blur(3px)
  -moz-filter: blur(3px)
  -o-filter: blur(3px)
  -ms-filter: blur(3px)

.overlay
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0