.carts
  padding: 30px
  
  &-container
    width: 1050px
    margin: auto
    
  &__count
    width: 100px
    
  &__contact
      width: 400px
      margin-left: -200px
    
    .btn
      margin-left: 10px
