.carts
  padding: 30px
  
  &__count
    width: 100px
    
  &__contact
      width: 400px
      margin-left: -200px
    
    .btn
      margin-left: 10px

.order-list
  margin-top: 10px
  
  &, ul
    list-style: none
    margin: 0
    padding: 0
  
  li
    padding: 8px
    margin-top: -1px