.header
  height: 90px
  border-bottom: 1px solid #eee

  .nav
    height: 100%
    display: table
    float: left
    
    &__list
      display: table-cell
      vertical-align: middle
      padding-left: 30px
      list-style: none
      margin: 0

    &__item
      padding: 0
      display: inline-block
      position: relative
    
    &__link
      font-weight: 700
      color: #333
      font-size: 14px
      text-decoration: none
      text-transform: uppercase
      letter-spacing: 1px
      margin-right: 30px
      
      &:hover
        color: #989898
        
    &__add-product
      position: absolute
      font-size: 12px
      font-weight: bold
      text-transform: none
      color: green
      left: 0
      top: 20px
      text-decoration: none
      
      &:hover
        opacity: .8
        
  &__user
    position: absolute
    right: 30px
    top: 25px
    display: table
    
    &__name
      max-width: 185px
      height: 44px
      vertical-align: middle
      display: table-cell
      font-size: 14px
      
    &__btn
      margin-left: 10px

.content
  position: absolute
  top: 90px
  left: 0
  right: 0
  bottom: 0
  display: block
  overflow-y: auto
  
.text-search
  position: absolute
  top: 0
  right: 0
  padding: 30px
  left: 550px
  
  i
    position: absolute
    z-index: 1
    margin: 7px
    display: inline-block
    color: #939393

  input[type="text"]
    width: 300px
    padding-left: 30px