.header
  height: 90px
  border-bottom: 1px solid #eee

  .nav
    height: 100%
    display: table
    
    &__list
      display: table-cell
      vertical-align: middle  
    
    &__item
      font-weight: 700
      color: #333
      font-size: 14px
      text-decoration: none
      text-transform: uppercase
      letter-spacing: 1px
      margin-right: 30px
      
      &:hover
        color: #989898

.sidebar
  border-right: 1px solid #eee
  position: absolute
  top: 90px
  bottom: 0
  width: 320px
  
.content
  position: absolute
  top: 90px
  left: 350px
  right: 0
  bottom: 0
  display: block
  overflow-y: auto