.manage
  &__category
    &__item
      //
    &__title
      font-weight: bold
      display: inline-block
      border-bottom: 1px dashed
      margin-bottom: 10px
      cursor: pointer
      
      &:hover
        opacity: .6
        
    &__form
      width: 300px
    
    &__add-product
      text-decoration: none
    
    .icon-edit
      text-decoration: none
      color: #009688

  &__product
    &__item
      font-weight: normal
      padding: 15px
      border: 1px solid #e7e7e7
      margin-top: -1px
      
    &__edit-btn
      margin: -4px 5px
      float: right

  &__category, &__product
    list-style: none
    margin: 0
    padding: 0
    
  &__add-category
    margin-top: 20px
    

.manage-users
  padding-top: 30px
  
      
