.products
  text-align: center
  padding-left: 380px
  
  &__count
    padding: 30px 0
    color: #5d5f68
    font-size: 14px
    
  &__list
    padding-bottom: 40px
  
.product
  width: 275px
  min-height: 420px
  margin-right: 30px
  display: inline-block
  cursor: pointer
  position: relative
    
  &__body
    min-height: 287px
    background: #F8F8F8
    overflow: hidden
    position: relative
    text-align: center
    display: block
    
    &:hover
      background: #FAFAFA

  &__image
    height: 150px
    margin-top: 45px

  &__footer
    background: white
    position: absolute
    bottom: 0
    min-height: 90px
    width: 100%
    padding: 28px
    cursor: default
    text-align: left
  
  &__title
    font-size: 15px
    color: #393c45
    font-weight: 700
    text-transform: uppercase
  
  &__category
    font-size: 15px
    color: #b1b1b3
    padding: 2px 0 0 0
    
  &__price
    color: #4CAF50
    font-size: 15px
    float: right
    font-weight: bold
    padding-top: 15px
    
  &__comments-count
    display: inline-block
    border-bottom: 1px dotted
    padding-top: 15px
    color: #333
    text-decoration: none
    line-height: 16px
    
    &:hover
      color: #989898
  
  &__add-to-cart
    width: 50%
    margin-top: 10px
    height: 28px
    line-height: 27px;
    text-align: center
    color: white
    cursor: pointer
    border-radius: 3px
    background: #03A9F4
    
    input
      display: none
      width: 80px
      position: absolute
    
    i
      display: none
      float: right
      padding: 6px

    &.show
      text-align: left
      
      input
        display: block
        height: 28px
        border-right: none
        color: #333

      i
        display: block
        
      span
        display: none     
    
    &:hover
      background: rgba(3, 169, 244, 0.79)
      

.product-page
  &__image
    //
  &__info
    margin-left: 230px