.sidebar
  border-right: 1px solid #eee
  position: absolute
  top: 0
  bottom: 0
  width: 350px
  padding: 0 0 0 30px
  
  &__title
    font-weight: 700
    color: #333
    font-size: 14px
    text-decoration: none
    text-transform: uppercase
    letter-spacing: 1px
    margin: 30px 0 10px 0
  
  &__cart-no-result
    font-style: italic;
    color: #a0a3ab;
    font-size: 14px;
    letter-spacing: 1px;
    
  &__category
    margin-bottom: 10px
  
  &__price
    width: 130px
    display: inline-block
    
  &__apply
    margin-top: 20px